In [1]:
#Read Dataset
from __future__ import print_function

import pandas as pd
import numpy as np

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls'
data = pd.read_excel(url, skiprows=1, sheetname='Data')
df = data.copy()
target = 'default payment next month'
print(df.columns)


#Data recoding of categorial factors
#Categoriccal factors with 2 levels are kept
#Categorial that are ordinal are kept
#Undocumented values are replaced with NaN

def describe_factor(x):
    ret = dict()
    for lvl in x.unique():
        if pd.isnull(lvl):
            ret["NaN"] = x.isnull().sum()
        else:
           ret[lvl] = np.sum(x==lvl)
    return ret

print('Sex')
print(describe_factor(df["SEX"]))
#print('Education is ordinnal Keep it, but set, others to NA')
print(describe_factor(df["EDUCATION"]))
# remap unknown with NaN
df["EDUCATION"] = df["EDUCATION"].map({0: np.NaN, 1:1, 2:2, 3:3, 4:np.NaN, 
    5: np.NaN, 6: np.NaN})
print(describe_factor(df["EDUCATION"]))
print('MARRIAGE 0,3=>NA')
print(describe_factor(df["MARRIAGE"]))
df.MARRIAGE = df.MARRIAGE.map({0:np.NaN, 1:1, 2:2, 3:np.NaN})
print(describe_factor(df.MARRIAGE))
print(df.describe())
print(df.isnull().sum())
df.ix[df["EDUCATION"].isnull(), "EDUCATION"] = df["EDUCATION"].mean()
df.ix[df["MARRIAGE"].isnull(), "MARRIAGE"] = df["MARRIAGE"].mean()
print(df.isnull().sum().sum())
describe_factor(df[target])
predictors = df.columns.drop(['ID', target])
X = np.asarray(df[predictors])
y = np.asarray(df[target])

Index([u'ID', u'LIMIT_BAL', u'SEX', u'EDUCATION', u'MARRIAGE', u'AGE',
       u'PAY_0', u'PAY_2', u'PAY_3', u'PAY_4', u'PAY_5', u'PAY_6',
       u'BILL_AMT1', u'BILL_AMT2', u'BILL_AMT3', u'BILL_AMT4', u'BILL_AMT5',
       u'BILL_AMT6', u'PAY_AMT1', u'PAY_AMT2', u'PAY_AMT3', u'PAY_AMT4',
       u'PAY_AMT5', u'PAY_AMT6', u'default payment next month'],
      dtype='object')
Sex
{1: 11888, 2: 18112}
{0: 14, 1: 10585, 2: 14030, 3: 4917, 4: 123, 5: 280, 6: 51}
{1.0: 10585, 2.0: 14030, 3.0: 4917, 'NaN': 468}
MARRIAGE 0,3=>NA
{0: 54, 1: 13659, 2: 15964, 3: 323}
{1.0: 13659, 2.0: 15964, 'NaN': 377}
                 ID       LIMIT_BAL           SEX     EDUCATION      MARRIAGE  \
count  30000.000000    30000.000000  30000.000000  29532.000000  29623.000000
mean   15000.500000   167484.322667      1.603733      1.808073      1.538906
std     8660.398374   129747.661567      0.489129      0.698643      0.498492
min        1.000000    10000.000000      1.000000      1.000000      1.000000
25%     7500.750000    50000.000000      1.000000           NaN           NaN
50%    15000.500000   140000.000000      2.000000           NaN           NaN
75%    22500.250000   240000.000000      2.000000           NaN           NaN
max    30000.000000  1000000.000000      2.000000      3.000000      2.000000

                AGE         PAY_0         PAY_2         PAY_3         PAY_4  \
count  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean      35.485500     -0.016700     -0.133767     -0.166200     -0.220667
std        9.217904      1.123802      1.197186      1.196868      1.169139
min       21.000000     -2.000000     -2.000000     -2.000000     -2.000000
25%       28.000000     -1.000000     -1.000000     -1.000000     -1.000000
50%       34.000000      0.000000      0.000000      0.000000      0.000000
75%       41.000000      0.000000      0.000000      0.000000      0.000000
max       79.000000      8.000000      8.000000      8.000000      8.000000

                  ...                  BILL_AMT4      BILL_AMT5  \
count             ...               30000.000000   30000.000000
mean              ...               43262.948967   40311.400967
std               ...               64332.856134   60797.155770
min               ...             -170000.000000  -81334.000000
25%               ...                2326.750000    1763.000000
50%               ...               19052.000000   18104.500000
75%               ...               54506.000000   50190.500000
max               ...              891586.000000  927171.000000

           BILL_AMT6       PAY_AMT1      PAY_AMT2      PAY_AMT3  \
count   30000.000000   30000.000000  3.000000e+04   30000.00000
mean    38871.760400    5663.580500  5.921163e+03    5225.68150
std     59554.107537   16563.280354  2.304087e+04   17606.96147
min   -339603.000000       0.000000  0.000000e+00       0.00000
25%      1256.000000    1000.000000  8.330000e+02     390.00000
50%     17071.000000    2100.000000  2.009000e+03    1800.00000
75%     49198.250000    5006.000000  5.000000e+03    4505.00000
max    961664.000000  873552.000000  1.684259e+06  896040.00000

            PAY_AMT4       PAY_AMT5       PAY_AMT6  default payment next month
count   30000.000000   30000.000000   30000.000000                30000.000000
mean     4826.076867    4799.387633    5215.502567                    0.221200
std     15666.159744   15278.305679   17777.465775                    0.415062
min         0.000000       0.000000       0.000000                    0.000000
25%       296.000000     252.500000     117.750000                    0.000000
50%      1500.000000    1500.000000    1500.000000                    0.000000
75%      4013.250000    4031.500000    4000.000000                    0.000000
max    621000.000000  426529.000000  528666.000000                    1.000000

[8 rows x 25 columns]
ID                              0
LIMIT_BAL                       0
SEX                             0
EDUCATION                     468
MARRIAGE                      377
AGE                             0
PAY_0                           0
PAY_2                           0
PAY_3                           0
PAY_4                           0
PAY_5                           0
PAY_6                           0
BILL_AMT1                       0
BILL_AMT2                       0
BILL_AMT3                       0
BILL_AMT4                       0
BILL_AMT5                       0
BILL_AMT6                       0
PAY_AMT1                        0
PAY_AMT2                        0
PAY_AMT3                        0
PAY_AMT4                        0
PAY_AMT5                        0
PAY_AMT6                        0
default payment next month      0
dtype: int64
0

C:\Users\Jaya\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3823: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

In [4]:
df.ix[df["EDUCATION"].isnull(), "EDUCATION"] = df["EDUCATION"].mean()
df.ix[df["MARRIAGE"].isnull(), "MARRIAGE"] = df["MARRIAGE"].mean()

df.to_csv('/Users/Jaya/Desktop/NEU/ADS/clean.csv')